
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutafterlogin.cshtml";
}


    <div class="ui vertical feature segment">
        <div class="ui centered page grid">
            <div class="fourteen wide column">
                <h3 class="ui inverted white block header"> YOUINTERACT CONFIGURATION > KINECT </h3>
                <div class="ui vertical feature segment">
                    <div class="ui two column center aligned stackable divided grid">
                        <div class="column">

                            <div class="ui icon header">
                                <i class="laptop icon"></i>
                                Device list
                            </div>

                            <p>
                                <a class="ui button" href="../Kinect/Device">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>

                        <div class="column">
                            <div class="ui icon header">
                                <i class="settings icon"></i>
                                Create configs
                            </div>
                            <p>
                                <a class="ui button" href="../Kinect/Config">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="ui three column center aligned stackable divided grid">

                        <div class="column">
                            <div class="ui icon header">
                                <i class="theme icon"></i>
                                Create themes
                            </div>
                            <p>
                                <a class="ui button" href="../Kinect/Theme">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>

                        <div class="column">
                            <div class="ui icon header">
                                <i class="cubes icon"></i>
                                Upload apps
                            </div>
                            <p>
                                <a class="ui button" href="../Kinect/APPs">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>


                        <div class="column">
                            <div class="ui icon header">
                                <i class="time icon"></i>
                                Create schedulers
                            </div>
                            <p>
                                <a class="ui button" href="../Kinect/Scheduler">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>



                    </div>
                </div>
            </div>
            <br />

            <!-- generic -->

            <div class="fourteen wide column">
                <h3 class="ui inverted white block header"> YOUINTERACT CONFIGURATION > GENERIC </h3>
                <div class="ui vertical feature segment">
                    <div class="ui two column center aligned stackable divided grid">
                        <div class="column">
                            <div class="ui icon header">
                                <i class="desktop icon"></i>
                                Device list
                            </div>
                            <p>
                                <a class="ui button" href="../Generic/Device">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>

                        <div class="column">
                            <div class="ui icon header">
                                <i class="settings icon"></i>
                                Create configs
                            </div>
                            <p>
                                <a class="ui button" href="../Generic/Config">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="ui three column center aligned stackable divided grid">

                        <div class="column">
                            <div class="ui icon header">
                                <i class="theme icon"></i>
                                Create Themes
                            </div>
                            <p>
                                <a class="ui button" href="../Generic/Theme">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>

                        <div class="column">
                            <div class="ui icon header">
                                <i class="cubes icon"></i>
                                Upload items
                            </div>
                            <p>
                                <a class="ui button" href="../Generic/Items">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>


                        <div class="column">
                            <div class="ui icon header">
                                <i class="time icon"></i>
                                Create schedulers
                            </div>
                            <p>
                                <a class="ui button" href="../Generic/Scheduler">
                                    Consult
                                    <i class="right chevron icon"></i>
                                </a>
                            </p>
                        </div>



                    </div>
                </div>
            </div>








        </div>
    </div>
