
@{
    ViewBag.Title = "ChoiceAPPs";
    Layout = "~/Views/Shared/_Layoutafterlogin.cshtml";
}


<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <h3 class="ui inverted white block header">
                <i class="list layout icon"></i>  CHOICE APP > #configuração1
            </h3>

            <br />

            <h3>Applications of this configuration</h3>
            

            <table class="ui black table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>APP name</th>
                        <th>Description</th>
                        <th>Configure</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>1</th>
                        <th>You_Contact</th>
                        <th>uma aplicação muito interessante</th>
                        <th>
                            <a class="circular ui icon button" href="../ConfAPP/YouContact">
                                <i class="icon settings "></i>
                            </a>
                        </th>

                        <th>
                            <div class="circular ui icon button red">
                                <i class="icon remove circle "></i>
                            </div>
                        </th>
                    </tr>

                    <!-- nova linha  -->

                    <tr>
                        <th>1</th>
                        <th>You_Video</th>
                        <th>uma aplicação muito interessante</th>
                        <th>
                            <a class="circular ui icon button" href="../ConfAPP/YouVideo">
                                <i class="icon settings "></i>
                            </a>
                        </th>

                        <th>
                            <div class="circular ui icon button red">
                                <i class="icon remove circle "></i>
                            </div>
                        </th>
                    </tr>


                </tbody>
            </table>

            
            <br />

            <h3>Available applications: </h3>

            <table class="ui black table">
                <thead>
                    <tr>
                        <th>APP name</th>
                        <th>Description</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>app1</th>
                        <th>uma aplicação muito interessante</th>
                        <th>
                            <div class="circular ui icon button green">
                                <i class="icon check circle "></i>
                            </div>
                        </th>
                    </tr>

                    <!-- nova linha  -->

                </tbody>
            </table>



            <div align="right"><a class="positive ui button" href="Config"> Save </a></div>
 

        </div>

    </div>
</div>
