
@{
    ViewBag.Title = "YouContact";
    Layout = "~/Views/Shared/_Layoutafterlogin.cshtml";
}



<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <h3 class="ui inverted white block header">
                <i class="list layout icon"></i>  CONFIGURE YOUCONTACT > #configuração1
            </h3>




        </div>
    </div>
</div>
