
@{
    ViewBag.Title = "YouVideo";
    Layout = "~/Views/Shared/_Layoutafterlogin.cshtml";
}



<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <h3 class="ui inverted white block header">
                <i class="list layout icon"></i>  CONFIGURE YOUVIDEO > #configuração1
            </h3>

            <br />
            
            <p> <b>Canal do youtube: </b></p>

            <div class="ui labeled input">
                <div class="ui label">
                    http://
                </div>
                <input type="text" placeholder="youtube.com/user/">
            </div>


        </div>
    </div>
</div>
