
@{
    ViewBag.Title = "Downloads";
}


<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui three column center aligned stackable divided grid">
                <div class="column">
                    <div class="ui icon header">
                        <i class="cubes icon"></i>
                        Download API
                    </div>
                    <p>by 2014</p>
                    <p>
                        <a class="ui button" href="apidocs/index.html">
                            Download
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="file icon"></i>
                        You_Template
                    </div>
                    <p>by 2014</p>
                    <p>
                        <a class="ui button" href="download.html">
                            Download
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="photo icon"></i>
                        You_Images
                    </div>
                    <p>by 2014</p>
                    <p>
                        <a class="ui button" href="about.html">
                            Download
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>

