
@{
    ViewBag.Title = "Help";
}

<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">

            <h1>Available Soon!</h1>

        </div>
    </div>
</div>
