@{
    ViewBag.Title = "Home Page";
}


<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui four column center aligned stackable divided grid">
                <div class="column">
                    <div class="ui icon header">
                        <i class="file code outline icon"></i>
                        Documentation
                    </div>
                    <p>Take a look about all the information about YouInteract</p>
                    <p>
                        <a class="ui button" href="~/Content/apidocs/index.html">
                            Consult
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="download icon"></i>
                        Downloads
                    </div>
                    <p>Download our YouInteract API.</p>
                    <p>
                        <a class="ui button" href="Home/Downloads">
                            Download
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="users icon"></i>
                        Project Description
                    </div>
                    <p>See the project description and our team</p>
                    <p>
                        <a class="ui button" href="Home/About">
                            View
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <div class="ui icon header">
                        <i class="user icon"></i>
                        Login or Register
                    </div>
                    <p>
                        <a class="ui button" href="Home/Login">
                            Login
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                    <p>
                        <a class="ui button" href="Home/Register">
                            Register
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>

