
@{
    ViewBag.Title = "Register";
}





<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">

           
                <h3 class="ui inverted white block header"> REGISTER NOW! </h3>

                <div class="ui one column grid basic segment">
                    <div class="column">
                        <!-- form here -->

                        <div class="ui form segment">
                            <div class="two fields">
                                <div class="field">
                                    <label for="GivenName">First and last name</label>
                                    <input id="GivenName" placeholder="First Last" type="text" />
                                </div>

                            </div>
                            <br /> 
                            <div class="two fields">
                                <div class="field">
                                    <label for="Email">Email</label>
                                    <input id="Email" placeholder="Email" type="text">
                                </div>

                                <div class="field">
                                    <label for="Password">Password</label>
                                    <input id="Password" type="password">
                                </div>


                                <input type="submit" class="ui blue button" />
                            </div>

                            </div>

                    </div>

                </div>
                <div class="ui divider"></div>
                <div class="footer">
                    <!-- text plus button here -->
                </div>
        </div>
    </div>
</div>
