
@{
    ViewBag.Title = "Theme";
    Layout = "~/Views/Shared/_Layoutafterlogin.cshtml";
}


<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <h3 class="ui inverted white block header">
                <i class="list layout icon"></i> List of available Themes
            </h3>




            <table class="ui black table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Preview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Centered Theme</td>
                        <td>
                            <img src="~/Content/imagens/theme/theme1.png" class="ui medium image">
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>XXXX Theme</td>
                        <td>
                            <img src="~/Content/imagens/theme/theme2.png" class="ui medium image">
                        </td>
                    </tr>

                    <!-- nova linha  -->

                </tbody>
            </table>


            associar items aos themes disponiveis 


            <br />

            <div align="right"><a href="Device" class="positive ui button"> Save </a></div>



        </div>
    </div>
</div>


